@import "tailwindcss";

@theme {
  --font-sans: var(--font-cairo);
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
